$size-icon: (
  "14x14": (
    w: 14,
    h: 14,
  ),
  "16x16": (
    w: 16,
    h: 16,
  ),
  "18x18": (
    w: 18,
    h: 18,
  ),
  "20x20": (
    w: 20,
    h: 20,
  ),
  "24x24": (
    w: 24,
    h: 24,
  ),
  "28x28": (
    w: 28,
    h: 28,
  ),
  "32x32": (
    w: 32,
    h: 32,
  ),
  "40x40": (
    w: 40,
    h: 40,
  ),
);

.app-icons {
  @each $size, $val in $size-icon {
    &-#{$size} {
      display: inline-block;
      height: rem(map-get($val, "h"));
      width: rem(map-get($val, "w"));
      svg {
        height: rem(map-get($val, "h"));
        width: rem(map-get($val, "w"));
      }
    }
  }
}
