<div class="main-sideBar">
  <div class="row main-sideBar-content">
    <div class="col-12 mb-2 main-sidebar-logo">
      <img src="../../../../../assets/images/mdb-angular.webp" alt="logo" />
    </div>
    <div class="col-12 main-sideBar-menu">
      <a href="{{ item.slug }}" *ngFor="let item of sideBarMenu" class="main-sideBar_item">
        <div class="main-sideBar_item-icon">
          <app-icons [iconName]="item.icon" size="28x28" />
        </div>
        <span class="main-sideBar_item-title">{{ item.title }}</span>
      </a>
    </div>
    <div class="col-12 main-sideBar-button">
      <button type="button" class="btn btn-secondary w-100" mdbRipple>
        <i class="fas fa-download"></i>
      </button>
    </div>
  </div>
</div>
