<button [ngStyle]="style" [ngClass]="'app-button' | mapModifiers : className" [type]="type" [disabled]="disabled" (click)="onClick.emit()" (mouseover)="onHover.emit()" (blur)="onBlur.emit()">
  <ng-container *ngIf="isLoading">
    <app-icons iconName="ICON_LOADING" size="16x16" />
  </ng-container>
  <ng-container *ngIf="!isLoading && icon && !isIconObject(icon)">
    <app-icons [iconName]="icon" size="16x16" />
  </ng-container>
  <ng-container *ngIf="!isLoading && icon && isIconObject(icon) && icon.position === 'before'">
    <app-icons [iconName]="icon.iconName" [size]="icon.size" />
  </ng-container>
  <ng-content />
  <ng-container *ngIf="!isLoading && icon && isIconObject(icon) && icon.position === 'after'">
    <app-icons [iconName]="icon.iconName" [size]="icon.size" />
  </ng-container>
</button>
