.main-sideBar {
  &-logo {
    text-align: center;
  }

  &-menu {
    @include adjust-flex(flex-start, flex-start);
    flex-direction: column;
  }

  &-button {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: rem(8);
  }
}
