// Colors
$black: rgb(0, 0, 0); // #000000
$white: rgb(255, 255, 255); // #ffffff
$white-smoke: rgb(245, 245, 245); // #f5f5f5
$eggshell: rgb(242, 234, 211); // #f2ead3
$anti-flash-white: rgb(242, 242, 242); // #f2f2f2

// Linear

// Box shadows
$shadow-md: rgba(0, 0, 0, 0.16) 0px rem(10) rem(36) 0, rgba(0, 0, 0, 0.06) 0 0 0 rem(1);
